.heading {
  align-items: center;
  margin-left: 3px;
  font-size: 23px;
  justify-content: center;
  color: rgb(25, 25, 25);
}

.textfield {
  height: 80px;
}
.but button {
  height: 45px;
  width: 100%;
  border-radius: 5px;
}
.btn-class {
  background-color: #f68e09 !important;
}
.error{
  color: red;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
