.main-container {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  background-color: #fff;
  overflow-y: hidden;
  cursor: pointer;
}

.card-container {
  padding: 2rem !important;
  gap: 10px !important;
  display: flex !important;
  margin: 2rem !important;
  justify-content: center;
  max-width: 100% !important; 
  overflow-x: auto; 
  white-space: nowrap !important;
}
@media (max-width: 500px) {
  .card-container {
    display: block !important;
    white-space: normal !important;
    overflow: hidden;
    padding: 0rem !important;
  }
}
.typo-status {
  display: flex;
}
.card-list {
  margin: 16px;
  min-width: 13rem;
  /* width: 17rem; */
}
.button-div {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
.btn-class {
  background-color: #f68e09 !important;
  color: black !important;
}
.dropdown-button-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.button {
  margin: 0 1rem !important;
  background-color: #f68e09 !important;
  color: black !important;
  height: max-content;
}
.add-heading {
  display: flex !important;
  margin: 0 1rem !important;
}
.dropdown{
    margin: 1rem;
}
.card-name{
  display: flex;
  margin-bottom: 5%;
}
